version: '3'

services:
  redis:
    container_name: redis
    image: redis
    ports:
    - 6379:6379/tcp
    volumes:
    - /home/redis:/data:rw
    - ./redis.conf:/home/redis.conf
    command: redis-server /home/redis.conf

  svr_push:
    build:
      context: .
    image: temol/redistest
    entrypoint: python store.py
    links:
      - redis
    container_name: redis_push

  svr_pop:
    image: temol/redistest
    entrypoint: python delivery.py
    links:
      - redis
    container_name: redis_pop
